



appt1{
    
    padding-right: 30px;
    
}

#cat{
    color:blue
}


.logo{
    
    width:400px;
    height:auto;
    
    margin-left: 230px; 
    
}

.cor{
    width:900px;
    margin-left:30px;
    margin-top: 30px;
    
    
}

.btn{
    margin-left:173px;
    margin-top:20px;
    margin-bottom: 20px;
    
    
}